# # Database
# DATABASE_URL=postgresql://neondb_owner:npg_2oWi1NlOkTCr@ep-calm-sea-abdi3720-pooler.eu-west-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# # Cloudinary
# CLOUDINARY_CLOUD_NAME=Root
# CLOUDINARY_API_KEY=348964843431655
# CLOUDINARY_API_SECRET=6bCzr7yWjH6r1E-dWDLXIN3X_nk

# # Auth
# JWT_SECRET=your-super-secret-key-change-this
# ADMIN_PASSWORD=admin123

# # App
# NEXT_PUBLIC_SITE_URL=http://localhost:3000
